* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  text-decoration-line: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
}

:root {
  --clr-accent: hsla(250, 26%, 44%, 1);
  --clr-white: hsla(0, 0%, 100%, 1);
  --clr-light_grey: hsla(0, 0%, 92%, 1);
  --clr-grey: hsla(0, 0%, 64%, 1);
  --clr-dark_grey: hsla(0, 0%, 32%, 1);
  --clr-black: hsla(0, 0%, 12%, 1);
  --clr-transp-white: hsla(0, 0%, 100%, 0.64);
  --clr-transp-light_grey: hsla(0, 0%, 92%, 0.64);
  --blur: blur(32px);
  --border-radius: 16px;
}

h1 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.75rem;
}

h2 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.5rem;
}

h3 {
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.25rem;
}

::selection {
  background: var(--clr-accent);
  color: var(--clr-white);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background: var(--clr-light_grey);
  color: var(--clr-black);
  font-family: 'Quicksand', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  z-index: 10;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  background: var(--clr-light_grey);
}

.header-minimized {
  height: 48px;
  color: var(--clr-grey);
}

.header__logo {
}

.catalogue {
  gap: 16px;
  /* display: grid; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
  width: 100%;
  margin: 0 0 auto 0;
  padding: 12px 16px;
}

.catalogue__card {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  border-radius: var(--border-radius);
  background-color: var(--clr-white);
  background-image: url("");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.catalogue__card__level {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  margin: 8px;
  padding: 4px;
  border-radius: 100%;
  background: var(--clr-transp-white);
}

.catalogue__card__level__icon {
  width: 24px;
  height: 24px;
}

.catalogue__card__title {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: flex-end;
  width: 100%;
  padding: 12px 16px;
  border-radius: 0 0 16px 16px;
  background: var(--clr-accent);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
}

.catalogue__card__title__text {
  width: 100%;
  text-align: left;
}

.tutorial {
  /* display: flex; */
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: var(--clr-white);
}

.tutorial__menu {
  display: grid;
  z-index: 1;
  grid-template-columns: 1fr 2fr 1fr;
  flex-grow: 0;
  width: 100%;
  padding: 16px 16px 0 16px;
}

.tutorial__menu__level {
  display: inline-flex;
  flex-direction: row;
  height: 24px;
}

.tutorial__menu__level__icon {
  width: 24px;
  height: 24px;
  margin: 0 4px 0 0;
  /* filter: invert(31%) sepia(14%) saturate(1633%) hue-rotate(210deg) brightness(105%) contrast(87%); */
}

.tutorial__menu__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tutorial__menu__info__title {
  margin: 0 0 4px 0;
  text-align: center;
}

.tutorial__menu__info__steps {
  color: var(--clr-grey);
  text-align: center;
}

.tutorial__menu__sound-icon {
  justify-self: flex-end;
  width: 24px;
  height: 24px;
}

.tutorial__canvas {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 48px;
  width: 100%;
  height: calc(100% - 48px);
}

.tutorial__nav {
  display: flex;
  z-index: 1;
  flex-direction: row;
  justify-content: center;
  padding: 0 16px 16px 16px;
}

.tutorial__nav__back {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  margin: 0 16px 0 0;
  padding: 10px;
  border-radius: 100%;
  background-color: var(--clr-light_grey);
  cursor: pointer;
}

.tutorial__nav__back__icon {
  width: 24px;
  height: 24px;
}

.tutorial__nav__next {
  display: flex;
  width: 100%;
  height: 44px;
  padding: 10px 12px 10px 36px;
  border-radius: 22px;
  background-color: var(--clr-accent);
  color: var(--clr-white);
  cursor: pointer;
}

.tutorial__nav__next__text {
  width: 100%;
  text-align: center;
}

.tutorial__nav__next__icon {
  visibility: hidden;
  width: 24px;
  height: 24px;
  float: right;
}

.loading-animation {
  display: flex;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--clr-accent);
  opacity: 1;
}

.loading-animation__text {
  color: var(--clr-white);
}

.finish-animation {
  display: flex;
  z-index: 10;
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: var(--clr-accent);
  opacity: 0;
}

.finish-animation__text {
  color: var(--clr-white);
}

.running {
  animation: example 0.3s ease-out 0s 1 forwards;
}

.footer {
  display: flex;
  bottom: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
}

.footer__credits {
  color: var(--clr-grey);
}

@keyframes example {
  0% {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    opacity: 0;
  }

  100% {
    top: calc(50% - 50%);
    left: calc(50% - 50%);
    width: 100%;
    height: 100%;
    border-radius: 0%;
    opacity: 1;
  }
}

@supports (backdrop-filter: var(--blur)) or (-webkit-backdrop-filter: var(--blur)) {
  .header {
    -webkit-backdrop-filter: var(--blur);
    backdrop-filter: var(--blur);
    background: var(--clr-transp-light_grey);
  }

  .catalogue__card__level {
    -webkit-backdrop-filter: var(--blur);
    backdrop-filter: var(--blur);
    background: var(--clr-transp-white);
  }
}
